.panel {
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 50px;
	
	background-color: rgba(255, 255, 255, 1);
	backdrop-filter: blur(20px);
	
	padding: 30px;
	border-radius: 30px;
	width: 300px;
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
	
	overflow-y: scroll;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .panel {
	background-color: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
  }
}

.searchMode {
	background-color: hsl(0, 0%, 100%);
	border-radius: 4px;
	border: solid 2px #cdcdcd;
	cursor: pointer;
	
	color: hsl(0, 0%, 50%);
	
	padding: 7px 10px;
	font-size: 16px;
}
.searchMode.selected {
	border: solid 2px #2684FF;
}

.stationsList {
	margin-top: 20px;
	list-style-type: none;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.stationsList li {
	cursor: pointer;
	padding: 15px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
.stationsList li h1 {
	font-size: 17px;
}
.stationsList li span {
	font-size: 15px;
}
.stationsList li .distance {
	color: #7e7e7e;
	float: right;
}